html, body {
    font-family: 'Nunito', sans-serif;
    overflow-x: hidden;
}

body {
    background-color: #201b2c;
}

h1 {
    padding-left: 9px;
}

/*NAVEGAÇÃO*/
nav {
    font-family: 'Nunito', sans-serif;
    border-style:solid;
    border-color: #FFFFFF;
}


nav ul li a {
    display: inline-table;
}

/*div*/

div {
    display: inline-flex;
    padding-right: 50px;
}

/*ENEM*/

.enem ul h1 {
    color: #FFFFFF;
}

.enem ul a {
    display: flex;
    padding: 15px;
    margin: 5px;
    text-decoration: none;
}

.enem ul a:hover {
    box-shadow: 0em 0em 1.4em -0.1em  #00ff88;
    transform: translateY(-0.25em);
    transition: 0.2s;
}

/*
.enem ul a:hover {
    background-color: #00ff88;
    color: #201b2c;
    border-radius: 20px;
    transition-duration: 2s;
    transition: 0.3s;
}
*/

/*SSA*/

/* Aqui é a margem do "Conteúdos ssa 1" para o "Conteúdos do enem", é necessário organizar essa margem para deixa-lo mais responsivo.
.ssap {
    margin-left: 30%;
}
*/

.ssa .ulssa h1 {
    color:#FFFFFF
}

.ssa ul a {
    display: flex;
    padding: 15px;
    margin: 5px;
    text-decoration: none;
}

.ssa ul a:hover {
    box-shadow: 0em 0em 1.4em -0.1em  #00ff88;
    transform: translateY(-0.25em);
    transition: 0.2s;
}

/* Esse e todos os outros estilos iguais a esse, é para coloca uma cor em todo o botão do assunto. Foi um teste feito, talvez fique bom, talvez não.
.ssa ul a:hover {
    background-color: #00ff88;
    color: #201b2c;
    border-radius: 20px;
    transition-duration: 2s;
    transition: 0.3s;
}
*/


.ssa2 .ulssa2 h1 {
    color: #FFFFFF;
}

.ssa2 ul a {
    display: flex;
    padding: 15px;
    margin: 5px;
    text-decoration: none;
}

.ssa2 ul a:hover {
    box-shadow: 0em 0em 1.4em -0.1em  #00ff88;
    transform: translateY(-0.25em);
    transition: 0.2s;
}

/*
.ssa2 ul a:hover {
    background-color: #00ff88;
    color: #201b2c;
    border-radius: 20px;
    transition-duration: 2s;
    transition: 0.3s;
}
*/

/*
.ssa3 {
    margin-left: 30%;
} */

.ssa3 .ulssa3 h1 {
    color: #FFFFFF;
}

.ssa3 ul a {
    display: flex;
    padding: 15px;
    margin: 5px;
    text-decoration: none;
}

.ssa3 ul a:hover {
    box-shadow: 0em 0em 1.4em -0.1em  #00ff88;
    transform: translateY(-0.25em);
    transition: 0.2s;
}

/*
.ssa3 ul a:hover {
    background-color: #00ff88;
    color: #201b2c;
    border-radius: 20px;
    transition-duration: 2s;
    transition: 0.3s;
}
*/
